h1 {
    text-align: center;
    color:red;
    font-family:"arial black"

}

#result{
    text-align: center;
    color:blue;
    font-size: 30px;
}

#player {
    text-align: center;
    color:red;
}
#computer {
    text-align: center;
    color:green;
}
.c {
    text-align: center;
}

.mainimg {
    text-align: center;
}

.image{
    height: 170px;
    width: 220px;
}

.centerDiv{
    display: flex;
    justify-content: center;
}
